.carBody{
    position: absolute;
    bottom: 24%;
    left: 5%;
    animation: bounce 0.5s infinite;
}

.wheels{
    position: absolute;
    animation: spin 2s linear infinite;
}

.carWheel1{
    bottom: -17%;
    left: 12%;

}

.carWheel2{
    bottom: -17%;
    left: 74%;

}

.shadow{
    position: absolute;
    height: 32px;
    border-radius: 50%;
    z-index: -1;
    bottom: -25%;
    opacity: 0.3;
    width: 300px;
    background-color: black;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    100%{transform: translateY(-1px); }
    50%{ transform: translateY(0px);}
    0% {transform: translateY(-1px); }
}