.layersContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.layers{
    position: absolute;
    background-size: 100% 80vh;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
}

.layerOne{
    animation: move 5s linear infinite;
}

.layerTwo{
    animation: move 8s linear infinite;
}

.layerThree{
    animation: move 16s linear infinite;
}

.layerFour{
    animation: move 32s linear infinite;
}

.layerFive{
    animation: move 64s linear infinite;
}

.sky{
    position: absolute;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    background-repeat: repeat-x;
}

@keyframes move{
    from{
        background-position: 0 0;
    }
    to{
        background-position: -100vw 0;
    }
}

@media (max-width: 540px){
    .layers{
        background-size: 400vw 80%;
    }

    .sky{
        background-position-x: center;
    }

    @keyframes move{
        from{
            background-position: 0 0;
        }
        to{
            background-position: -400vw 0;
        }
    }
}