.root {
    position: relative;
    width: 300vw;
  }

.layer {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 100vh;
  }